@import '../../main';

.empty-rooms {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scrollbar::-webkit-scrollbar {
  width: 10px;
}

#scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

#scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: $clr-primary-hover;
}
