@import '../../main';

.tab {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // flex-direction: row;
  // flex-wrap: wrap;
  // margin: 0px auto;
  position: relative;
  width: 100%;
  padding-bottom: 5px;
  // bottom: 40px;
  // height: 35%;
  // max-height: 0;
  z-index: 1;
  user-select: none;
  // transition: 3s max-height ease-in-out;
  // background: white;
  .menuToggle {
    position: relative;
    top: -50px;
  //   left: 50%;
    // transform: translateX((-50%));
    width: 60px;
    height: 60px;
    background: $clr-grey-3;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.5em;
    transition: 1s ease-in-out;
    .bell-border {
      height: 59px; 
      width: 59px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #7844E8!important;
      animation-name: bord-pop;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc;
  }
    &:hover {
      transition: 0.3s ease-in-out;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    &.disable{
      // transition: 1s ease-in-out;
      // transform: scale(0);
      pointer-events: none;
      width: 0;
      height: 0;
      opacity: 0;
      // display: none;
    }
  }

  .circular,
  .circularbg1,
  .circularbg2 {
    position: absolute;
    // top:25px;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 80px;
    background: white;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    transform-origin: top center;
    transition: 1s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }
  .circularbg1 {
    background: $clr-primary-dark;
    transition: 0.6s ease-in-out;
    transition-delay: 0.4s;
  }
  .circularbg2 {
    background: $clr-yellow-1;
    transition: 0.8s ease-in-out;
    transition-delay: 0.2s;
  }
  &.active .menuToggle {
    transform: rotate(225deg);
  }
  &.active .circular,
  &.active .circularbg1,
  &.active .circularbg2 {
    transform: translateX(-50%) rotate(180deg);
    opacity: 1;
    pointer-events: auto;
  }
  &.active .circularbg1,
  &.active .circularbg2 {
    transition-delay: 0s;
  }
  ul.circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
  }
  ul.circle li {
    list-style: none;
    display: flex;
    position: absolute;
    cursor: pointer;
  }
  ul.circle li:nth-child(1) {
    transform: translate(50px, -15px);
  }
  ul.circle li:nth-child(2) {
    transform: translate(0px, 15px);
  }

  ul.circle li:nth-child(3) {
    transform: translate(-50px, -15px);
  }
  .chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    padding: 2rem 4rem;
    // height: 0px;
    // height: 600px;
    max-height: 600px;
    background: white;
    // transition: 3s height ease-in-out;
    transform-origin: 0 100%;
    height: 50vh;
    transition: transform .5s;
    transform: scaleY(0);
    .close_chat{
      margin-left: auto;
      margin-right: 1rem;
    }
    .chat_container{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 10px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: #e7e7e7;
        border: 1px solid #cacaca;
        cursor: pointer;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: $main-bg;
      }
      .chat_bubble{
        max-width: 60%;
        width: max-content;
        background: $clr-grey-8;
        padding: 1rem;
        border-radius: 5px;
        overflow-wrap: break-word;
        &.host{
          margin-left: auto;
          margin-right: 1rem;
          background: $clr-primary-hover;
        }
      }
    }
    .submit_container{
      margin-top: 1rem;
      .send_form{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .textarea{
          width: 100%;
          resize: none;
          padding: 0.5rem 1rem 0 1rem;
          &::-webkit-scrollbar {
            width: 1rem;
          }
        }
      }
    }
    &.active{
      transform: scaleY(1);
      // transition: 3s height ease-in-out;
    }
  }
}


@keyframes bord-pop {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
      transform: translate(-50%, -50%) scale(1.9);
      opacity: 0.1;
  }
  100% {
      transform: translate(-50%, -50%) scale(1.9);
      opacity: 0;
  }
}


@media (min-width: 320px) and (max-width: 1015px) {
  .tab{
    .chat{
      padding: 2rem 10px;
      .chat_container{
        .chat_bubble{
          max-width: 80%;
      }
    }
  }
  }
}